requests~=2.23.0
nltk~=3.4.4
tqdm~=4.46.0
glob2~=0.7
kaggle~=1.5.6
pandas~=1.0.3
unidecode~=1.1.1
xgboost~=1.1.1

setuptools~=46.4.0
spacy~=2.2.3
scispacy~=0.2.4
scikit-learn~=0.23.0
joblib~=0.15.1

elasticsearch~=7.6.0
